* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: whitesmoke;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.App img {
	height: 128px;
	width: 128px;
}

.App h1 {
	font-size: 2rem;
	font-weight: 700;
}